{% extends 'main.html' %}

{% block title %}
    <h2>Задание №5</h2>
{% endblock %}

{% block content %}
<table>
    <tr>
        <td>
            <h3>Кратное описание</h3>
        </td>
        <td>
            {{ Advert.Advertising_header }}
        </td>
    </tr>
    <tr>
        <td>
            <h3>Дата публикации</h3>
        </td>
        <td>
            {{ Advert.Advertising_date }}
        </td>
    </tr>
    <tr>
        <td>
            <h3>Стоимость</h3>
        </td>
        <td>
            {{ Advert.Advertising_price }}
        </td>
    </tr>
    <tr>
         <td>
            <h3>Описание объявления</h3>
        </td>
        <td>
            {{ Advert.Advertising_text }}
    </tr>

</table>
<div class="large-offset-1 large-8 columns">
<p class="">Коментарии</p>
{% for qqq in Comments %}
    <div>
        <p>Комментаврий: {{ qqq.comments_text }} </p>
        <p>Добавлен: {{ qqq.comments_date }} </p>
    </div>

    <hr>
{% endfor %}
    <form action="/adds/addcoment/{{ Advert.id }}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Отправить" class="button">
    </form>
</div>


<a href="/adds">Вернуться к списку объявлений</a>
{% endblock %}