{% extends 'main.html' %}
{% load staticfiles %}

{% block title %}
    <h2>Задание №5</h2>
{% endblock %}

{% block content %}
<h3>{{ Header }}</h3><br>
<a href="/adds/dobavit">Добавить объявление</a><br><br>
Отсортироать по цене:<a href="/adds/adds_sort_price_smoll">меньше-больше </a>|<a href="/adds/adds_sort_price_big"> больше-меньше</a><br><br>
Отсортироать по дате:<a href="/adds/adds_sort_date_last">старые-новые</a>|<a href="/adds/adds_sort_date_new">новые-старые</a><br><br>
<hr>

<ul>
    {% for adds in Advertising_list %}
        <li><p>Что продаётся: <a href="/{{ adds.id }}/">{{ adds.Advertising_header }}</a></p>
            <p>Дата публикации:{{ adds.Advertising_date }}</p>
            <p><img src="{% static "money.jpg" %}" width="25px" height="25px">{{ adds.Advertising_price }}руб.</p>
            <img src='/media/{{ adds.Advertising_picture }}' width="50px" height="50px">
        </li>
        <hr>
    {% endfor %}
</ul>
<div class="row">
    <div class="large-3 large-offset-3 colums">
        <ul class="pagination">
            {% if Advertising_list.has_previous %}
                <li class="arrow"><a href="/page/{{ Advertising_list.previous_page_number }}/">&laquo;</a></li>
            {% else %}
                <li class="arrow disabled"><a href="">&laquo;</a></li>
            {% endif %}
            {% for page in Advertising_list.paginator.page_range %}
                {% if page == Advertising_list.number %}
                    <li class="current"><a href="/page/{{ page }}/">{{ page }}</a></li>
                {% else %}
                    <li><a href="/page/{{ page }}/">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if Advertising_list.has_next %}
                <li class="arrow"><a href="/page/{{ Advertising_list.next_page_number }}/">&raquo;</a></li>
            {% else %}
                <li class="arrow disabled"><a href="">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>

</div>
{% endblock %}
