{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/foundation.css' %}">
</head>
<body>
<div class="top-bar">
    <section class="right">
        <ul>
            {% if username %}
                <li><a href="/auth/logout/">Выйти ({{ username }})</a></li>
            {% else %}
                <li><a href="/auth/login">Войти в систему</a></li>
            {% endif %}
        </ul>
    </section>
</div>
{% if username %}
    <div class="row">
    {% block title %}{% endblock %}
      {% block content %}{% endblock %}
    </div>
{% else %}
    <div class="large-text-center">Сначала войдите в систему</div>
    {% block login %}{% endblock %}

{% endif %}

</body>
</html>